html{
    scroll-behavior:smooth;
}

h1{
    font-family: Pressio;
    font-size: 70;
    text-align:center;    
}

#content{
    width:60%;
    margin:auto;
}

body{
    background-color: #abd9e9 ;
    color:midnightblue;
    font-family: Redonda;
}

p{
    background-color:aliceblue;
    padding: 10;
}

.flourish-embed{
    width:85%;
    margin:auto;
}

@media (orientation:portrait) {
    #content {
      width: 100%;
      margin:auto;
    }
  }
  